<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div class="play-page-background ">
    </div>
    <div class="play-board">
        <div class="box1">
            <!-- data=result array, item is each object in the result array, with forEach loop we don't need have to use index to access objects -->
            <!-- java script code has to be in <% %> -->
            <% data.forEach( (item, index) => { %>
                <h3 class="box-question">
                    <%- item.question %>

                </h3>
                <div>
                    <div>
                        <button class="answerA answer-btn" data-question="<%= index %>"> A.
                            <%- item.incorrect_answers[0] %>
                        </button>
                        <button class="answerB answer-btn" data-question="<%= index %>">element B.
                            <%- item.incorrect_answers[1] %>
                        </button>
                    </div>
                    <div>
                        <button class="answerC answer-btn" data-question="<%= index %>">
                            C.
                            <%- item.incorrect_answers[2] %>
                        </button>
                        <button data-points="unselected" class="answerD answer-btn" data-question="<%= index %>">
                            D.
                            <%- item.correct_answer %>
                        </button>
                    </div>
                </div>

                <%}) %>
        </div>
        <form action="/score" method="POST">
            <input id="points" type="hidden" name="scoreInput" value="0">
            <input id="totalQ" type="hidden" name="totalQuestions" value="<%= data.length %>">
            <button class="play-again-btn box-shadow" type="submit"> GET RESULTS</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/public/index.js"></script>

</body>

</html>